<div class="tables">
  <h1>Members</h1>
  <table>
    <tr>
      <th>Name</th>
      <th>Type</th>
    </tr>
    <% for member in @members %>
    <tr>
      <td><a href="/members/<%= member.id %>"><%= member.format_name %></a></td>
      <td><%= member.type %></td>
    </tr>
    <% end %>
  </table>
  <nav>
      <ul>
      <li><a href="/members/new">Add Members</a></li>
      <!-- <li><a href="/members/edit">Edit Members</a></li> -->
      <!-- <li><a href="/members/delete">Delete Members</a></li> -->
    </ul>
  </nav>
</div>
