<h1>Members</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Trainer</th>
    <th>Program</th>
  </tr>
  <% for member in @members %>
  <tr>
    <td><a href="/members/<%= member.id %>"><%= member.format_name %></a></td>
  </tr>
  <% end %>
</table>

<form method="post" action="/members">
  <label for="first-name-field">First Name:</label>
  <input type="text" name="first_name" id="first-name-field"/>

  <label for="last-name-field">Last Name:</label>
  <input type="text" name="last_name" id="last-name-field"/>

  <input type="submit" value="Add Member">
</form>
