<form method="post" action="/gym_classes">
  <label for="name-field">Class Name:</label>
  <input type="text" name="name" id="name-field"/>

  <label for="capacity">Capacity:</label>
  <input type="text" name="capacity" id="capacity"/>

  <label for="time_slot">Time:</label>
  <input type="text" name="time_slot" id="time-slot"/>

  <input type="submit" value="Add Class">
</form>

<form method="get" action="/home" >
  <input type="submit" value="Home">
</form>
