<!-- <h1 class="banner">THE GYM</h1>

<p class="banner">Welcome to the gym. Let's work out</p> -->

<div class="container">
  <span class="text1">THE GYM</span>
  <span class="text2">Let's work out</span>
</div>
