<form method="post" action="/bookings/<%= @booking.id %>">
  <label for="member-name-field">Attendee Name:</label>
  <input type="text" name="<% @booking.member.format_name %>" id="member-name-field"/>

  <label for="class-name-field">Class:</label>
  <input type="text" name="<% @booking.gym_class.name %>" id="class-name-field"/>

  <input type="submit" value="Edit Booking">
</form>
