<!-- <form method="post" action="/bookings">
  <label for="member-id-field">Member ID:</label>
  <input type="text" name="member_id" id="member-id-field"/>

  <label for="class-id-field">Class ID:</label>
  <input type="text" name="class_id" id="class-id-field"/>

  <input type="submit" value="Add Booking">
</form>

<form method="get" action="/home" >
  <input type="submit" value="Home">
</form>
 -->


<form action="/bookings" method="post">
  <label>
  Select a Member:
    <select name="member_id">
      <% for member in @members %>
      <option value="<%= member.id %>"><%= member.format_name %></option>
      <% end %>
    </select>
  </label>

  <label>
  Select a Class:
    <select name="gym_class_id">
      <% for gym_class in @gym_classes %>
      <option value="<%= gym_class.id %>"><%= gym_class.name %></option>
      <% end %>
    </select>
  </label>
<input class="" type="submit" value="Add Booking">
</form>

<form method="get" action="/home" >
  <input type="submit" value="Home">
</form>
