body {
  background: white url('/images/background.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  color: orange;
  font-family: 'Inconsolata', serif;
  padding: 0px;
  margin: 0px;
}

h1 {
  font-size: 3em;
  color: orange;
  margin-bottom: 20px;
}

#content {
  padding-left: 90px;
  padding-top:50px;
}
