body {
  background: white url('/images/background.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  color: orange;
  font-family: 'Inconsolata', serif;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: maroon;
}

h1 {
  font-size: 3em;
  color: orange;
  margin-bottom: 20px;
}

a, a:link, a:visited {
  color: brown;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: orange;
}

#menu {
  width: 220px;
}

#content {
  padding-left: 90px;
  padding-top:50px;
}
